In [1]:
!kaggle --version

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.8.3-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: black>=24.10.0 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (25.9.0)
Requirement already satisfied: bleach in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (6.3.0)
Collecting kagglesdk<1.0,>=0.1.14 (from kaggle)
  Downloading kagglesdk-0.1.14-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: mypy>=1.15.0 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (1.17.1)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (25.0)
Requirement already satisfied: protobuf in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: six>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Collecting types-requests (from kaggle)
  Downloading types_requests-2.32.4.20260107-py3-none-any.whl.metadata (2.0 kB)
Collecting types-tqdm (from kaggle)
  Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: click>=8.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (8.2.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.12.1)
Requirement already satisfied: platformdirs>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (4.5.0)
Requirement already satisfied: pytokens>=0.1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.3.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (2026.1.4)
Downloading kaggle-1.8.3-py3-none-any.whl (102 kB)
Downloading kagglesdk-0.1.14-py3-none-any.whl (159 kB)
Downloading types_requests-2.32.4.20260107-py3-none-any.whl (20 kB)
Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl (24 kB)
Installing collected packages: types-requests, types-tqdm, kagglesdk, kaggle

   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   ------------------------------ --------- 3/4 [kaggle]
   ------------------------------ --------- 3/4 [kaggle]
   ---------------------------------------- 4/4 [kaggle]

Successfully installed kaggle-1.8.3 kagglesdk-0.1.14 types-requests-2.32.4.20260107 types-tqdm-4.67.0.20250809

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\lenovo\anaconda3\lib\site-packages (1.8.3)
Requirement already satisfied: black>=24.10.0 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (25.9.0)
Requirement already satisfied: bleach in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (6.3.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (0.1.14)
Requirement already satisfied: mypy>=1.15.0 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (1.17.1)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (25.0)
Requirement already satisfied: protobuf in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: six>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: types-requests in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.32.4.20260107)
Requirement already satisfied: types-tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: click>=8.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (8.2.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.12.1)
Requirement already satisfied: platformdirs>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (4.5.0)
Requirement already satisfied: pytokens>=0.1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from black>=24.10.0->kaggle) (0.3.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (2026.1.4)

In [4]:
!kaggle datasets list -s orders

ref                                                              title                                                      size  lastUpdated                 downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  --------------------------------------------------  -----------  --------------------------  -------------  ---------  ---------------
haseebindata/restaurant-orders                                   Restaurant Orders                                         12009  2025-08-14 14:17:27.467000           2849         48                1
vincentcornlius/sales-orders                                     sales orders                                            4795014  2023-08-24 14:04:11.080000           6419         61        0.8235294
henslersoftware/19560-indian-takeaway-orders                     Takeaway Food Orders - Updated                          1377877  2019-08-04 08:36:47.007000          11235        129                1
olistbr/brazilian-ecommerce                                      Brazilian E-Commerce Public Dataset by Olist           44717580  2021-10-01 19:08:27.970000         420735       3867                1
javierspdatabase/global-online-orders                            Global Online Orders                                     360370  2023-10-06 17:42:53.233000           3551         67                1
zusmani/pakistans-largest-ecommerce-dataset                      Pakistan's Largest E-Commerce Dataset                  14432262  2021-01-19 11:42:57.930000          16409        380        0.9705882
mistag/arthropod-taxonomy-orders-object-detection-dataset        Arthropod Taxonomy Orders Object Detection Dataset  11951540231  2020-06-12 19:58:11.347000           4774        136           0.9375
nosbielcs/brazilian-delivery-center                              Delivery Center: Food & Goods orders in Brazil         29024552  2021-07-12 15:54:04.470000           9595        107                1
olistbr/marketing-funnel-olist                                   Marketing Funnel by Olist                                284562  2018-11-16 14:00:20.677000          17747        319                1
gabrielsantello/wholesale-and-retail-orders-dataset              Wholesale & Retail Orders Dataset                       3238262  2023-09-19 09:31:40.273000           4068         48                1
zain280/product-orders                                           Product Orders                                             7171  2024-02-28 14:37:37.020000            706         35                1
ankitbansal06/retail-orders                                      Retail Orders                                            205161  2024-04-13 08:31:36.377000          27166         44       0.47058824
nationalarchives/executive-orders                                Executive Orders, 1789-2016                                1573  2017-02-02 03:44:49.950000            680         23        0.8235294
b'kapturovalexander/food-orders                                    \xf0\x9f\x98\x8b\xf0\x9f\x8d\x97\xf0\x9f\x8d\x96 Food orders                                          866682  2024-11-14 09:12:41.997000           1125         35                1  '
ishanshrivastava28/superstore-sales                              Superstore Sales                                        1886649  2023-08-18 19:01:11.790000          21227        158                1
adarsh0806/influencer-merchandise-sales                          Global Retail Sales Data: Orders, Reviews & Trends       125403  2024-12-10 14:07:52                  3291         35                1
mohamedharris/supermart-grocery-sales-retail-analytics-dataset   Supermart Grocery Sales - Retail Analytics Dataset       195133  2022-06-12 16:14:44.780000          22600        262       0.88235295
pratyushpuri/online-furniture-orders-delivery-and-assembly-2025  Online Furniture Orders : Delivery & Assembly 2025       350833  2025-08-10 06:27:36.367000           1316         29                1
kannanaikkal/food-demand-forecasting                             Food Demand Forecasting                                 6077226  2020-05-08 05:41:47.913000          16586        133        0.9411765
ulabox/ulabox-orders-with-categories-partials-2017               Ulabox orders with categories' partials 2017             621260  2018-05-21 20:33:33.020000           1604         31       0.88235295

In [5]:
!kaggle datasets list -s orders

ref                                                              title                                                      size  lastUpdated                 downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  --------------------------------------------------  -----------  --------------------------  -------------  ---------  ---------------
haseebindata/restaurant-orders                                   Restaurant Orders                                         12009  2025-08-14 14:17:27.467000           2849         48                1
vincentcornlius/sales-orders                                     sales orders                                            4795014  2023-08-24 14:04:11.080000           6419         61        0.8235294
henslersoftware/19560-indian-takeaway-orders                     Takeaway Food Orders - Updated                          1377877  2019-08-04 08:36:47.007000          11235        129                1
olistbr/brazilian-ecommerce                                      Brazilian E-Commerce Public Dataset by Olist           44717580  2021-10-01 19:08:27.970000         420735       3868                1
javierspdatabase/global-online-orders                            Global Online Orders                                     360370  2023-10-06 17:42:53.233000           3551         67                1
zusmani/pakistans-largest-ecommerce-dataset                      Pakistan's Largest E-Commerce Dataset                  14432262  2021-01-19 11:42:57.930000          16409        380        0.9705882
mistag/arthropod-taxonomy-orders-object-detection-dataset        Arthropod Taxonomy Orders Object Detection Dataset  11951540231  2020-06-12 19:58:11.347000           4774        136           0.9375
nosbielcs/brazilian-delivery-center                              Delivery Center: Food & Goods orders in Brazil         29024552  2021-07-12 15:54:04.470000           9595        107                1
olistbr/marketing-funnel-olist                                   Marketing Funnel by Olist                                284562  2018-11-16 14:00:20.677000          17747        319                1
gabrielsantello/wholesale-and-retail-orders-dataset              Wholesale & Retail Orders Dataset                       3238262  2023-09-19 09:31:40.273000           4068         48                1
zain280/product-orders                                           Product Orders                                             7171  2024-02-28 14:37:37.020000            706         35                1
ankitbansal06/retail-orders                                      Retail Orders                                            205161  2024-04-13 08:31:36.377000          27166         44       0.47058824
nationalarchives/executive-orders                                Executive Orders, 1789-2016                                1573  2017-02-02 03:44:49.950000            680         23        0.8235294
b'kapturovalexander/food-orders                                    \xf0\x9f\x98\x8b\xf0\x9f\x8d\x97\xf0\x9f\x8d\x96 Food orders                                          866682  2024-11-14 09:12:41.997000           1125         35                1  '
ishanshrivastava28/superstore-sales                              Superstore Sales                                        1886649  2023-08-18 19:01:11.790000          21227        158                1
adarsh0806/influencer-merchandise-sales                          Global Retail Sales Data: Orders, Reviews & Trends       125403  2024-12-10 14:07:52                  3291         35                1
mohamedharris/supermart-grocery-sales-retail-analytics-dataset   Supermart Grocery Sales - Retail Analytics Dataset       195133  2022-06-12 16:14:44.780000          22600        262       0.88235295
pratyushpuri/online-furniture-orders-delivery-and-assembly-2025  Online Furniture Orders : Delivery & Assembly 2025       350833  2025-08-10 06:27:36.367000           1316         29                1
kannanaikkal/food-demand-forecasting                             Food Demand Forecasting                                 6077226  2020-05-08 05:41:47.913000          16586        133        0.9411765
ulabox/ulabox-orders-with-categories-partials-2017               Ulabox orders with categories' partials 2017             621260  2018-05-21 20:33:33.020000           1604         31       0.88235295

In [6]:
!kaggle datasets download -d ankitbansal06/retail-orders

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading retail-orders.zip to C:\Users\LENOVO

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 259kB/s]
100%|##########| 200k/200k [00:00<00:00, 258kB/s]

In [7]:
import zipfile

with zipfile.ZipFile("retail-orders.zip", "r") as zip_ref:
    zip_ref.extractall("retail_orders")

In [8]:
import os
os.listdir("retail_orders")

['orders.csv']

In [15]:
import pandas as pd
df = pd.read_csv("retail_orders/orders.csv",na_values =['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [45]:
df.columns.str.lower()

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent'],
      dtype='object')

In [47]:
df.columns.str.replace(' ','_')

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [50]:
df.head(6)

,order id,order date,ship mode,segment,country,city,state,postal code,region,category,sub category,product id,cost price,list price,quantity,discount percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3

In [52]:
df['discount'] = df['list_price'] * df['discount_percent'] * 0.01  # Using 'price' column instead of 'list_price'

KeyError: 'list_price'

In [59]:
print(df.columns.tolist())

['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'category', 'sub_category', 'product_id', 'list_price', 'list_price', 'discount_percent', 'discount_percent']

In [60]:
# 1. This identifies and renames duplicate columns automatically
cols = pd.Series(df.columns)
for i, col in enumerate(cols):
    if (cols == col).sum() > 1:
        cols[i] = f"{col}_{i}"
df.columns = cols

# 2. Based on your list, the columns are likely now 'list_price_12' and 'discount_percent_14'
# Let's use the first occurrence of each for the math:
df['discount'] = df['list_price_12'] * df['discount_percent_14'] * 0.01

# 3. Check the result
df[['list_price_12', 'discount_percent_14', 'discount']].head()

   list_price_12  discount_percent_14  discount
0            240                    2       4.8
1            600                    3      18.0
2             10                    2       0.2
3            780                    5      39.0
4             20                    2       0.4

In [61]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,list_price_12,list_price,discount_percent_14,discount_percent,discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,4.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,18.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.2
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,39.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,0.9
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,1.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,4.4
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,1.2
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,4.2

In [73]:
df['sales_price'] = df ['list_price'] - df['discount']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,list_price_12,list_price,discount_percent_14,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,4.8,255.2,0.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,18.0,712.0,0.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.2,9.8,0.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,39.0,921.0,0.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,0.4,19.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,0.9,29.1,0.0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,1.4,88.6,0.0
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,4.4,255.6,0.0
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,1.2,28.8,0.0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,4.2,235.8,0.0

In [82]:
df['profit']= df['sales_price'] - df['list_price_12']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,list_price_12,list_price,discount_percent_14,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,4.8,255.2,15.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,18.0,712.0,112.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.2,9.8,-0.2
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,39.0,921.0,141.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,0.4,19.6,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,0.9,29.1,-0.9
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,1.4,88.6,18.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,4.4,255.6,35.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,1.2,28.8,-1.2
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,4.2,235.8,25.8

In [89]:
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,list_price_12,list_price,discount_percent_14,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,4.8,255.2,15.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,18.0,712.0,112.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.2,9.8,-0.2
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,39.0,921.0,141.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,0.4,19.6,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,0.9,29.1,-0.9
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,1.4,88.6,18.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,4.4,255.6,35.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,1.2,28.8,-1.2
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,4.2,235.8,25.8

In [94]:
df.drop(columns=['list_price','list_price_12','discount_percent'],inplace=True)
df

KeyError: "['list_price', 'list_price_12', 'discount_percent'] not found in axis"

In [96]:
print(df.columns.tolist())

['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'category', 'sub_category', 'product_id', 'discount_percent_14', 'discount', 'sales_price', 'profit']

In [97]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,discount_percent_14,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,4.8,255.2,15.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,18.0,712.0,112.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.2,9.8,-0.2
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,39.0,921.0,141.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,0.4,19.6,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,0.9,29.1,-0.9
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,1.4,88.6,18.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,4.4,255.6,35.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,1.2,28.8,-1.2
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,4.2,235.8,25.8

In [103]:
df=df.rename(columns={'discount_percent_14':'quantity'})

In [104]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,4.8,255.2,15.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,18.0,712.0,112.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.2,9.8,-0.2
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,39.0,921.0,141.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,0.4,19.6,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,0.9,29.1,-0.9
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,1.4,88.6,18.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,4.4,255.6,35.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,1.2,28.8,-1.2
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,4.2,235.8,25.8

In [114]:
# Rename 'sales_price' to 'sale_price' to match your SQL table exactly
df = df.rename(columns={'sales_price': 'sale_price'})

# Now run the upload command again
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

38